@page
@using FacilityFeedback.Data.EnumModels;
@model FacilityFeedback.RazorPage.Pages.TaskProcessPage.EditModel

@{
    ViewData["Title"] = "Edit";
    var problemSelectList = (SelectList)ViewBag.ProblemId;
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-7">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Task Process</h6>
                <form method="post">
                    <div class="row mb-3">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.TaskProcess.Id, new {@hidden = "true"})

                        @Html.LabelFor(m => m.TaskProcess.StartTime, new {@class = "col-sm-2 col-form-label"})
                        <div class="col-sm-10">
                            @Html.EditorFor(m => m.TaskProcess.StartTime, new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="row mb-3">
                        @Html.LabelFor(m => m.TaskProcess.EndTime, new {@class = "col-sm-2 col-form-label"})
                        <div class="col-sm-10">
                            @Html.EditorFor(m => m.TaskProcess.EndTime, new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="row mb-3">
                        @Html.LabelFor(m => m.TaskProcess.Description, new {@class = "col-sm-2 col-form-label"})
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.TaskProcess.Description, new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.TaskProcess.Problem, new {@class = "col-sm-2 col-form-label"})
                        <div class="col-sm-10">
                            @Html.DropDownListFor(m => m.TaskProcess.ProblemId, problemSelectList, new {@class="form-select mb-3"})
                        </div>
                    </div>
                    <div class="row">
                        <input type="hidden" id="currentProcess" value="@Model.TaskProcess.Process" disabled="disabled"/>
                        @Html.LabelFor(m => m.TaskProcess.Process, new {@class = "col-sm-2 col-form-label"})
                        <div class="col-sm-10">
                            @*   @Html.EnumDropDownListFor(m => m.TaskProcess.Process, new {@class="form-select mb-3"}) *@
                            <select asp-for="TaskProcess.Process" class="form-select mb-3" 
                             asp-items="Html.GetEnumSelectList<ProcessStatus>()">
                            </select>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary">Create</button>
                </form>

                <div style="margin-top: 20px;">
                    <a asp-page="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        <script src="../js/TaskProcess/TaskProcessPageEdit.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
