@page
@model FacilityFeedback.RazorPage.Pages.FloorPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-7">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Delete Floor</h6>
                <div class="row mb-3">
                    @Html.LabelFor(m => m.Floor.Code, new {@class = "col-sm-2 col-form-label"})
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Floor.Code, new {@class = "form-control", @disabled = "true"})
                    </div>
                </div>

                <div class="row mb-3">
                    @Html.LabelFor(m => m.Floor.Status, new {@class = "pt-0 col-sm-2 col-form-label"})
                    <div class="col-sm-10">
                        <div class="form-check">
                            @Html.CheckBoxFor(m => m.Floor.Status, new {@class = "form-check-input", @disabled = "true" })
                        </div>
                    </div>
                </div>

                <form method="post">
                    @Html.TextBoxFor(m => m.Floor.Id, new {@hidden = "true"})
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <div style="margin-top: 20px;">
                    <a asp-page="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>



@* <div>
    <h4>Floor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Floor.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Floor.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor.Status)
        </dd>
    </dl>

    <form method="post">
        @Html.TextBoxFor(m => m.Floor.Id, new {@hidden = "true"})
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <div style="margin-top: 20px;">
        <a asp-page="Index">Back to List</a>
    </div>
</div>
*@
