@page
@model FacilityFeedback.RazorPage.Pages.ProblemPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Problem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Problem.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Problem.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Problem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Problem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Problem.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Problem.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Problem.Device)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Problem.Device.DeviceCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Problem?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
