@page
@model FacilityFeedback.RazorPage.Pages.User.IndexModel
@{
    Layout = "_Layout_User";
    var roomSelectList = (SelectList)ViewBag.RoomId;
    SelectList? deviceSelectList = new SelectList("", "");
}

<div class="container-fluid pt-4 px-4 d-flex justify-content-center">
    <div class="row col-7">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Problem</h6>
                <form method="post" id="problem_Create">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    <div class="row mb-3">
                        @Html.LabelFor(m => m.Problem.Description, new {@class = "col-sm-2 col-form-label"})
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.Problem.Description, new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="row mb-3">
                        @Html.LabelFor(m => m.Problem.Time, new {@class = "col-sm-2 col-form-label"})
                        <div class="col-sm-10">
                            @Html.EditorFor(m => m.Problem.Time, new {@class = "form-control"})
                        </div>
                    </div>

                    @* <div class="row mb-3">
                        @Html.LabelFor(m => m.Problem.Status, new {@class = "pt-0 col-sm-2 col-form-label"})
                        <div class="col-sm-10">
                            <div class="form-check">
                                @Html.CheckBoxFor(m => m.Problem.Status, new {@class = "form-check-input"})
                            </div>
                        </div>
                    </div> *@
                    @Html.CheckBoxFor(m => m.Problem.Status, new {@class = "form-check-input", @hidden = "true", @checked = "checked"})
                </form>

                <div class="row">
                    @Html.LabelFor(m => m.Problem.Device.Room, new {@class = "col-sm-2 col-form-label"})
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.Problem.Device.RoomId, roomSelectList, new {@class="form-select mb-3"})
                    </div>
                </div>

                <div class="row">
                    @Html.LabelFor(m => m.Problem.Device, new {@class = "col-sm-2 col-form-label"})
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.Problem.DeviceId, deviceSelectList, new {@class="form-select mb-3", @form="problem_Create"})
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" form="problem_Create">Create</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="../js/Device/DevicePage.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
